<div class="card text-center">
	<div class="card-header">
		Demo Application
	</div>
	<div class="card-body">
		<h5 class="card-title">Person App</h5>
		<p class="card-text">This is a demo application to list and save a person details in Json file on server.</p>

		<button class="btn btn-primary" style="margin-right: 10px" (click)="CreatePerson()">Create Person </button>
		<button class="btn btn-info" (click)="PersonList()">Person List</button>
	</div>
	<div class="card-footer text-muted">
		By Ajay Tiwari, A Fullstack Developer.
	</div>
</div>