<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card">
				<div class="card-header">
					<span class="header-caption">Person List</span>
					<div [hidden]="!isLoading" class="spinner-border text-primary" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<app-display-alert></app-display-alert>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let p of persons; let i = index">
								<th scope="row">{{i}}</th>
								<td>{{p.FirstName}}</td>
								<td>{{p.LastName}}</td>
							</tr>

						</tbody>
					</table>


				</div>

			</div>
		</div>


		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-link" (click)="GoBack()">Go Back</button>

		</div>

	</div>
</div>